.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.Pokedex-loser {
  color: #e91e63;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
